.whatsappButton {
    /* Posicionamiento */
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    left: auto;
    z-index: 100;

    /* Estilo del botón */
    /* 1. Usamos el color verde que encontraste */
    background-color: #29a71a;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Sombra y efectos */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsappButton:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.iconImage {
    /* 2. Aumentamos el tamaño del ícono PNG */
    width: 45px;
    height: 45px;
}